@use "vars" as *;

.sec-office{
	padding: 30px 0 0;
}
.office-heading{
	text-align: center;
	margin-bottom: 50px;
	p{
		margin-bottom: 30px;
	}
	img{
		width: 422px;
		margin: 0 auto;
	}
	small{
		@include font-size(12);
	}
}

.well-being{
	@include flex(center,0,wrap);
	margin: 0 -3% 50px;
	&__item{
		width: 33.333%;
		padding: 0 3%;
		@include mq(){
			width: 100%;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__ttl{
		display: block;
		text-align: center;
		line-height: 1.4;
		margin-bottom: 15px;
		span{
			display: block;
			@include font-size(27);
		}
		small{
			display: block;
			@include font-size(14);
			font-family: $font-Roboto;
		}
	}
}

.office-block{
	position: relative;
	&--view{

		@include mq(md-min){
			background: #F7F7F7;
		}
	}
	&__banner{
		img{
			width: 100%;
			min-height: 360px;
			@include ob;
			@include mq(){
				min-height: 185px;
			}
		}
	}
	&__ct{
		background: white;
		padding: 80px 8.4%;
		margin: -60px auto;
		position: relative;
		z-index: 2;
		@include mq(){
			margin: -30px auto;
			padding: 50px 0;
		}
		&-mission{
			dl{
				@include flex(0,0,wrap);
				padding: 30px 0;
				border-bottom: 1px solid #D0D0D0;
				@include mq(){
					padding: 15px 0;
				}
				&:last-child{
					border-bottom: none;
				}
				dt{
					width: 250px;
					color: $red;
					@include font-size(16);
					font-weight: 600;
					@include mq(){
						width: 150px;
					}
					@include mq(sm){
						width: 100%;
						margin-bottom: 10px;
					}
				}
				dd{
					width: calc(100% - 250px);
					@include mq(){
						width: calc(100% - 150px);
					}
					@include mq(sm){
						width: 100%;
					}
				}

			}
		}
		&-ttl{
			display: block;
			font-weight: bold;
			@include font-size(20);
			margin-bottom: 5px;
			@include mq(){
				@include font-size(16);
			}
			&:last-child{
				margin-bottom: 0;
			}
			&-small{
				display: block;
				font-family: $font-jp;
				@include font-size(18);
				font-weight: 600;
				margin-bottom: 10px;
				@include mq(){
					@include font-size(15);
				}
			}
		}
		&-note{
			counter-reset: section;
			li{
				position: relative;
				margin-bottom: 30px;
				@include mq(){
					margin-bottom: 20px;
				}
			}
			&-ttl{
				display: block;
				font-weight: bold;
				@include font-size(16);
				padding: 0 0 0 20px;
				margin-bottom: 10px;
				@include mq(){
					margin-bottom: 0;
				}
				&:before{
					counter-increment: section;
					content: counters(section, ".") ".";
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		&-rule{
			display: grid;
			gap: 20px;
			grid-template-columns: 50fr 50fr;
			padding: 10px 0 0;
			@include mq(){
				gap: 10px;
			}
			li{
				border: 1px solid black;
				border-radius: 5px;
				padding: 10px 20px 20px;
				@include mq(){
					padding: 10px 10px 15px;
				}
			}
			&-ttl{
				display: block;
				text-align: center;
				font-weight: bold;
				@include font-size(18);
			}
		}
		&-heading{
			margin-bottom: 50px;
			&-ttl{
				display: block;
				@include font-size(26);
				font-weight: 600;
				text-align: center;
				margin-bottom: 15px;
			}
		}
		&-view{
			display: grid;
			gap: 20px;
			grid-template-columns: 33.333fr 33.333fr 33.333fr;
			text-align: center;
			border-bottom: 1px solid #D0D0D0;
			padding: 0 0 50px;
			margin-bottom: 50px;
			@include mq(){
				gap: 30px;
				grid-template-columns: 100fr;
			}
			img{
				margin-bottom: 15px;
			}
		}
		iframe{
			width: 100% !important;
			height: 375px !important;
			@include mq(){
				height: 52vw !important;
			}
		}
		&-show{
			text-align: center;
			&-ttl{
				display: block;
				@include font-size(20);
				font-weight: bold;
				margin-bottom: 15px;
			}
			p{
				margin-bottom: 20px;
			}
			iframe{
				height: 514px !important;
				@include mq(){
					height: 52vw !important;
				}
			}
		}

	}
}

.office-strength{
	background: $red;
	color: white;
	padding: 150px 0;
	@include mq(){
		padding: 100px 0 60px;
	}
	&__ttl{
		display: block;
		text-align: center;
		@include font-size(26);
		font-weight: 600;
		margin-bottom: 30px;
		@include mq(){
			@include font-size(20);
		}
	}
	&__list{
		display: grid;
		gap: 50px;
		grid-template-columns: 33.333fr 33.333fr 33.333fr;
		counter-reset: li;
		color: black;
		@include mq(){
			grid-template-columns: 100fr;
		}
		&-item{
			background: white;
			position: relative;
			padding: 15px 40px 30px;
			@include mq(){
				padding: 15px 15px 30px;
			}
			&:after{
				content: "";
				width: 21px;
				height: 21px;
				background: url("../img/office/item.png")no-repeat;
				background-size: 100%;
				position: absolute;
				@include v-align;
				left: calc(100% + 14px);
				@include mq(){
					left: 0;
					right: 0;
					top: calc(100% + 15px);
					transform: translateY(0);
					margin: 0 auto;
				}
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
		}
		&-ttl{
			display: block;
			text-align: center;
			@include font-size(20);
			color: $red;
			font-weight: bold;
			position: relative;
			padding: 50px 0 0;
			margin-bottom: 15px;
			&:before{
				counter-increment: li;
				content: counter(li, decimal-leading-zero);
				@include font-size(30);
				font-weight: 400;
				font-family: $font-en;
				display: block;
				text-align: center;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}
	}
}

.office-greetings{
	background: #F7F7F7;
	overflow: hidden;
	&__heading{
		background: white;
		position: relative;
		padding: 50px 0;
		@include flex(0,0,wrap);
		margin-bottom: 100px;
		@include mq(){
			margin-bottom: 50px;
		}
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: -100px;
			bottom: 0;
			width: 5000px;
			background: white;
			@include mq(){
				top: 0;
				left: -15px;
				right: -15px;
				width: auto;
				transform: translateX(0);
			}
		}
		&:before{
			content: "";
			position: absolute;
			top: 0;
			@include h-align;
			height: 50%;
			width: 5000px;
			background: $red;
			@include mq(){
				display: none;
			}
		}
		&-ct{
			position: relative;
			z-index: 1;
			width: calc(100% - 376px);
			@include mq(){
				width: 100%;
			}
			&-ttl{
				display: block;
				margin-bottom: 30px;
				@include mq(){
					margin-bottom: 20px;
				}
				small{
					display: block;
					@include font-size(16);
					font-weight: 500;
					margin-bottom: 15px;
				}
				.c-ft--jp{
					@include fts(26,42);
					font-weight: 600;
					@include mq(){
						@include font-size(20);
					}
				}
			}
		}
		&-img{
			width: 376px;
			position: relative;
			z-index: 1;
			@include mq(){
				width: 100%;
				max-width: 376px;
				margin: 0 auto;
			}
		}
	}
}

.office-greetings{
	@include flex(0,0,wrap);
	margin-bottom: 150px;
	@include mq(){
		padding: 0 0 20px;
		margin-bottom: 0;
	}
	&__img{
		width: 42%;
		@include mq(sm){
			width: 100%;
			margin-bottom: 30px;
		}
	}
	&__ct{
		width: 58%;
		padding: 0 0 0 10%;
		@include mq(sm){
			width: 100%;
			padding: 0;
		}
		p{
			margin-bottom: 30px;
			@include mq(){
				margin-bottom: 20px;
			}
		}
		&-name{
			display: block;
			text-align: right;
			@include font-size(22);
			font-weight: 600;
		}
	}
}

.office-overview{
	background: white;
	padding: 150px 0 100px;
	@include mq(){
		padding: 50px 0;
	}
	&__show{
		max-width: 914px;
		margin: 0 auto 50px;
		@include mq(){
			margin-bottom: 0;
		}
		dl{
			@include flex(0,0,wrap);
			border-bottom: 1px solid #D0D0D0;
			padding: 0 0 50px;
			margin-bottom: 50px;
			@include mq(){
				padding: 0 0 30px;
				margin-bottom: 30px;
			}
			&:last-child{
				margin-bottom: 0;
				border-bottom: none;
			}
			dt{
				width: 40%;
				font-family: $font-jp;
				@include font-size(20);
				font-weight: 600;
				@include mq(){
					width: 100%;
					@include font-size(18);
					margin-bottom: 10px;
				}
				small{
					display: block;
					@include font-size(14);
					font-weight: 400;
				}
			}
			dd{
				width: 60%;
				padding: 0 0 0 15px;
				@include mq(){
					width: 100%;
					padding: 0;
				}
				table{
					width: 100%;
					tr{
						td{
							vertical-align: top;
							padding: 8px 0;
							&:nth-child(1){
								width: 100px;
							}
						}
					}
				}
			}
		}
	}
	&__sub{
		@include flex(center,center,wrap);
		.c-btn__01{
			margin: 0 20px 15px;
		}
	}
}