<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="mv-page">
		<%- include('common/_breadcrumb'); %>
		<div class="mv-page__wp">
			<div class="mv-page__ct">
				<h1 class="mv-page__ttl">
					<span class="c-ft--en">Attorney's fee</span>
					<span class="c-ft--jp">弁護士費用</span>
				</h1>
			</div>
			<div class="mv-page__img">
				<img src="<%= RELATIVE_PATH %>img/fee/img-mv.jpg" alt="Attorney's fee 弁護士費用">
			</div>
		</div>
	</section>
	<div class="intro-page">
		<p>弁護士に依頼したいけれど、費用が不安で躊躇される方も多いかと思います。弊所では、相談内容や依頼内容に応じた具体的な見積もりを事前にご提示し、納得いただける説明を行います。その上で、ご依頼いただくかどうかをお決めいただけます。</p>
		<p>透明性のある料金体系を心がけ、依頼者の皆様に安心してご相談いただけるよう努めています。費用に関するご相談や見積もりの依頼はお気軽にお問い合わせください。</p>
	</div>
	<section class="fee-page">
		<div class="inner">
			<h2 class="c-ttl__05">弊所の弁護士費用</h2>
			<p class="c-txt__basic fee-page__intro">
				依頼者の皆様に安心してご利用いただけるよう、弊所では、「弁護士の報酬に関する規程」に基づき、<br>明確で透明性のある料金体系を設けています。依頼内容に応じた弁護士費用の目安は以下の通りです。
			</p>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>1.</span>一般民事事件</h3>
				<span class="fee-block__note">※表示の金額はすべて税込</span>
				<div class="c-table">
					<table>
						<tr>
							<th>経済的利益</th>
							<th>着手金</th>
							<th>報酬金</th>
						</tr>
						<tr>
							<td>～300万円までの場合</td>
							<td>8.8％</td>
							<td>17.6％</td>
						</tr>
						<tr>
							<td>300万円を超え3000万円までの場合</td>
							<td>5.5％＋9万9000円</td>
							<td>11％＋19万8000円</td>
						</tr>
						<tr>
							<td>3000万円を超え3億円までの場合</td>
							<td>3.3％＋75万9000円</td>
							<td>6.6％＋151万8000円</td>
						</tr>
						<tr>
							<td>3億円以上の場合</td>
							<td>2.2％＋405万9000円</td>
							<td>4.4％＋811万8000円</td>
						</tr>
					</table>
				</div>
				<span class="fee-block__desc">※ただし、最低着手金は11万円（税込）となります。</span>
			</div>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>2.</span>一般民事事件</h3>
				<span class="fee-block__note">※表示の金額はすべて税込</span>
				<div class="c-table c-table--02">
					<table>
						<tr>
							<th></th>
							<th>手数料</th>
						</tr>
						<tr>
							<td>訴訟提起まで</td>
							<td>44万円</td>
						</tr>
						<tr>
							<td>強制執行</td>
							<td>11万円</td>
						</tr>
					</table>
				</div>
				<span class="fee-block__desc">単純な賃料滞納事案の場合の料金です。 その他の場合は、弁護士にお尋ね下さい。</span>
			</div>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>3.</span>遺産・相続事件</h3>
				<div class="c-txt__basic fee-block__content">
					<a href="">遺産・相続事件の特設ページ</a>をご覧ください。
				</div>
			</div>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>4.</span>任意整理事件</h3>
				<span class="fee-block__note">※表示の金額はすべて税込</span>
				<div class="c-table">
					<table>
						<tr>
							<th>着手金</th>
							<th>報酬金</th>
							<th>成功報酬金</th>
						</tr>
						<tr>
							<td>１社当たり2万2000円</td>
							<td>１社当たり2万2000円</td>
							<td>減縮額の11％／過払回収額の22％</td>
						</tr>
					</table>
				</div>
				<span class="fee-block__desc">弊所では、訴訟をする場合も、上記金額から増額は致しません。</span>
			</div>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>5.</span>破産申立事件</h3>
				<div class="c-txt__basic fee-block__content">
					弁護士費用の捻出に関しては、破産手続との関係で方策がございますので、弁護士にご相談下さい。
				</div>
				<dl class="fee-block__dl">
					<dt class="fee-block__dt">
						(1) 個人破産申立
						<span class="fee-block__note">※表示の金額はすべて税込</span>
					</dt>
					<dd class="fee-block__dd">
						<div class="c-table c-table--02 mbpc-25">
							<table>
								<tr>
									<th></th>
									<th>手数料</th>
								</tr>
								<tr>
									<td>同時廃止事件</td>
									<td>33万円～</td>
								</tr>
								<tr>
									<td>管財事件</td>
									<td>5.44万円～</td>
								</tr>
							</table>
						</div>
					</dd>
				</dl>
				<dl class="fee-block__dl">
					<dt class="fee-block__dt">
						(2) 法人破産申立
						<span class="fee-block__note">※表示の金額はすべて税込</span>
					</dt>
					<dd class="fee-block__dd">
						<div class="c-table c-table--02">
							<table>
								<tr>
									<th></th>
									<th>手数料</th>
								</tr>
								<tr>
									<td>負債総額5000万円以下</td>
									<td>88万円</td>
								</tr>
								<tr>
									<td>負債総額1億円以下</td>
									<td>110万円</td>
								</tr>
								<tr>
									<td>負債総額2億円以下</td>
									<td>165万円</td>
								</tr>
								<tr>
									<td>負債総額3億円以下</td>
									<td>220万円</td>
								</tr>
								<tr>
									<td>負債総額5億円以下</td>
									<td>275万円</td>
								</tr>
								<tr>
									<td>負債総額7.5億円以下</td>
									<td>330万円</td>
								</tr>
								<tr>
									<td>負債総額7.5億円超</td>
									<td>別途見積り</td>
								</tr>
							</table>
						</div>
					</dd>
				</dl>
			</div>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>6.</span>民事再生申立事件</h3>
				<div class="c-txt__basic fee-block__content">
					弁護士費用の捻出に関しては、民事再生手続との関係で方策がございますので、弁護士にご相談下さい。
				</div>
				<dl class="fee-block__dl">
					<dt class="fee-block__dt">
						(1) 個人再生申立事件
						<span class="fee-block__note">※表示の金額はすべて税込</span>
					</dt>
					<dd class="fee-block__dd">
						<div class="c-table c-table--02 mbpc-25">
							<table>
								<tr>
									<th></th>
									<th>手数料</th>
								</tr>
								<tr>
									<td>住宅資金特別条項なし</td>
									<td>44万円～</td>
								</tr>
								<tr>
									<td>住宅資金特別条項あり</td>
									<td>55万円～</td>
								</tr>
							</table>
						</div>
					</dd>
				</dl>
				<dl class="fee-block__dl">
					<dt class="fee-block__dt">
						(2) 法人民事再生申立事件
					</dt>
					<dd class="c-txt__basic fee-block__dd">
						<a href="">法人破産・民事再生のページ</a>をご覧ください。
					</dd>
				</dl>
			</div>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>7.</span>離婚事件</h3>
				<span class="fee-block__note">※表示の金額はすべて税込</span>
				<div class="c-table c-table--03">
					<table>
						<tr>
							<th>着手金</th>
							<th>報酬金</th>
							<th>別途報酬金</th>
						</tr>
						<tr>
							<td>33万円～55万円</td>
							<td>33万円～55万円</td>
							<td>
								婚姻費用/養育費：獲得金額（2年に限る）の11%<br>財産分与/慰謝料：獲得金額の11%
							</td>
						</tr>
					</table>
				</div>
				<span class="fee-block__desc">弊所では、訴訟をする場合も、上記金額から増額は致しません。</span>
			</div>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>8.</span>刑事事件</h3>
				<span class="fee-block__note">※表示の金額はすべて税込</span>
				<div class="c-table c-table--02">
					<table>
						<tr>
							<th>着手金</th>
							<th>報酬金</th>
						</tr>
						<tr>
							<td>33万円～55万円</td>
							<td>33万円～55万円</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>9.</span>契約書チェック業務</h3>
				<dl class="fee-block__dl">
					<dt class="fee-block__dt">
						(1) 基本料金
						<span class="fee-block__note">※表示の金額はすべて税込</span>
					</dt>
					<dd class="c-txt__basic fee-block__dd">
						<div class="c-table c-table--02">
							<table>
								<tr>
									<th></th>
									<th>手数料</th>
								</tr>
								<tr>
									<td>定型契約書</td>
									<td>1通　5万5000円</td>
								</tr>
								<tr>
									<td>非定型契約や条項の有利不利の提案も含める場合</td>
									<td>11万円～16万5000円</td>
								</tr>
							</table>
						</div>
					</dd>
				</dl>
				<dl class="fee-block__dl">
					<dt class="fee-block__dt">
						(2) 複数の契約書をまとめてチェックする場合
						<span class="fee-block__note">※表示の金額はすべて税込</span>
					</dt>
					<dd class="c-txt__basic fee-block__dd">
						<div class="c-table c-table--02">
							<table>
								<tr>
									<th>契約書の通数</th>
									<th>手数料</th>
								</tr>
								<tr>
									<td>3通まで</td>
									<td>11万円〜33万円（1通3万6666円〜11万円）</td>
								</tr>
								<tr>
									<td>5通まで</td>
									<td>16万5000円〜55万円（1通3万3000円〜11万円）</td>
								</tr>
								<tr>
									<td>10通まで</td>
									<td>27万5000円〜88万円（1通2万7500円〜8万8000円）</td>
								</tr>
							</table>
						</div>
					</dd>
				</dl>
			</div>

			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>10.</span>内容証明作成</h3>
				<span class="fee-block__note">※表示の金額はすべて税込</span>
				<div class="c-table c-table--04">
					<table>
						<tr>
							<th>手数料</th>
						</tr>
						<tr>
							<td>3万3000円～5万5000円</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>11.</span>公示送達、付郵便送達の現地調査・報告書作成・申立て</h3>
				<span class="fee-block__note">※表示の金額はすべて税込</span>
				<div class="c-table c-table--04">
					<table>
						<tr>
							<th>項目</th>
							<th>手数料</th>
						</tr>
						<tr>
							<td>市内</td>
							<td>3万3000円（実費込）</td>
						</tr>
						<tr>
							<td>市外</td>
							<td>5万5000円（実費込）</td>
						</tr>
						<tr>
							<td>神奈川県外</td>
							<td>5万5000円 + 交通費等実費</td>
						</tr>
					</table>
				</div>
				<span class="fee-block__desc">
					※付郵便送達とは、相手方が居住はしているものの何らかの理由で訴状を受け取らない場合に書留郵便で送ることです。<br>
					※公示送達とは、被告の居場所が知れない場合に、裁判になったことを裁判所の掲示場に掲示することです。
				</span>
			</div>
			<div class="fee-block">
				<h3 class="fee-block__ttl"><span>12.</span>解決金等の分割弁済の管理・督促業務</h3>
				<span class="fee-block__note">※表示の金額はすべて税込</span>
				<div class="c-table c-table--02">
					<table>
						<tr>
							<th></th>
							<th>手数料</th>
						</tr>
						<tr>
							<td>月額10万円以内</td>
							<td>月額1100円</td>
						</tr>
						<tr>
							<td>月額10万円以上</td>
							<td>月額2200円</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>
	<section class="fee-faq">
		<div class="inner">
			<h2 class="c-ttl__05">よくある質問</h2>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">弁護士というと、お金がいくらかかるか分からないというイメージなのですが…</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">弁護士費用の分割払いはできますか？</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
			<div class="fee-faq__control">
				<a href="#" class="c-btn__01">他の質問を見る</a>
			</div>
		</div>
	</section>
</main>